/* Sidebar */
/* style for off-canvas menu*/
.sidebar {
  min-height: calc(100vh - 60px);
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  width: 257px;
  z-index: 11;
  box-shadow: none;
  border-right: 1px solid #e3e3e3;


  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;

    .nav-item {
      transition-duration: 0.25s;
      transition-property: background;

      &.disabled {
        pointer-events: none;

        &.hover-open {
          .menu-title {
            display: none !important;
          }
        }

        &,
        .material-icons {
          background-color: #f0f0f0 !important;
          opacity: .5 !important;
          user-select: none !important;
          cursor: not-allowed !important;
        }


        &:hover {
          content: none !important;
        }
      }

      .collapse {
        z-index: 999;
      }

      .nav-link {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0.75rem 2.5rem 0.75rem 1.25rem;
        color: #000;
        transition-duration: 0.45s;
        transition-property: color;

        .material-icons {
          font-size: 1.210rem;
          line-height: 1;
          margin-right: 1.125rem;


          &.menu-arrow {
            margin-left: 4rem;
          }

          &:before {
            vertical-align: middle;
          }
        }


        .menu-title {
          color: rgb(15, 15, 15);
          display: inline-block;
          font-size: 0.875rem;
          line-height: 1;
          vertical-align: middle;
        }

        .badge {
          margin-left: auto;
        }
      }

      .nav-link[aria-expanded="true"] {
        i.menu-arrow {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }

    .nav-item.active {
      > .nav-link {
        background: initial;
        position: relative;

        .menu-title {
          color: #4d83ff;
        }

        .menu-arrow {
          color: #4d83ff;

        }
      }
    }

    &:not(.sub-menu) {

      > .nav-item {

        border-bottom: 1px solid #f3f3f3;
        margin-top: 0;
        position: relative;

        &.active-page:before {
          content: '';
          position: absolute;
          top: 0;
          left: 1%;
          display: block;
          width: .4rem;
          height: 100%;
          background-color: $second-color;
        }

        > .nav-link {
          margin: 0;
        }

        &:hover {
          border-bottom-color: #3B2F85;
          border-top: 1px solid #3B2F85;

          > .nav-link {
            background: transparent;
            color: #3B2F85;
          }
        }
      }
    }
  }

  .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 0.25rem 0 0.6rem 3.55rem;

    .nav-item {
      padding: 0;


      .nav-link {
        color: #656565;
        padding: 0.6rem 1rem;
        position: relative;
        font-size: 0.875rem;
        line-height: 1;
        height: auto;
        border-top: 0;

        &:hover {
          border-bottom-color: #3B2F85;
          border-top: 1px solid #3B2F85;
        }
      }

      .nav-link.active {
        color: #000;
        background: transparent;
      }

      &:hover {
        background: transparent;
      }
    }
  }
}


.sidebar-icon-only {
  .navbar-menu-wrapper {

  }

  .sidebar {
    //margin-left: -.9rem;
    .nav {
      .nav-item {

        .nav-link {
          padding: 0;
          margin: .970rem;

          .menu-title {
            border-radius: 0 5px 5px 0px;
          }

          .badge {
            display: none;
          }

          .menu-sub-title {
            display: none;
          }

        }

        .nav-link[aria-expanded] {
          .menu-title {
            border-radius: 0 5px 0 0px;
          }
        }

        .collapse {
          display: none;
        }


      }



      .nav-item.hover-open {
        .nav-link {
          .menu-title {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            background: #ffffff;
            padding: 0.5rem 1.4rem;
            left: 70px;
            position: absolute;
            text-align: left;
            top: 0;
            bottom: 0;
            width: 190px;
            z-index: 1;
            line-height: 1.8;
            box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);

            &:after {
              display: none;
            }
          }

          &:hover {
            .menu-title {
              background: #ffffff;
            }
          }
        }

        .collapse {
          display: block;
          padding: .5rem 0;
          background: #ffffff;
          border-radius: 0 0 5px 0;
          position: absolute;
          left: 70px;
          width: 190px;
          box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
        }

        .collapsing {
          display: block;
          padding: .5rem 0;
          background: #ffffff;
          border-radius: 0 0 5px 0;
          position: absolute;
          left: 70px;
          width: 190px;
          box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
        }
      }
    }

    .nav.sub-menu {
      padding: 0 0 0 1.5rem;

      .nav-item {
        .nav-link {
          text-align: left;
          padding-left: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .sidebar{
    .nav{
      .nav-item{
        &.active-page:before {
          right: 0 ;
          left: auto !important;

        }
      }
    }
  }
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 60px);
    top: 60px;
    bottom: 0;
    overflow: auto;
    right: -254px;

  }
  .sidebar-offcanvas.active {
    right: 0;
    transition: right .8s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  }
}

@media (min-width: 992px) {
  .sidebar-icon-only {
    .navbar {
      .navbar-brand-wrapper {
        width: 70px;


        .navbar-brand-inner-wrapper {
          margin-right: auto;

          .navbar-toggler {
            margin-left: -.8rem;
          }

          .brand-logo {
            display: none;
          }

          .brand-logo-mini {
            display: none;
          }
        }
      }

      .navbar-menu-wrapper {
        width: calc(100% - 70px);


      }
    }

    .sidebar {
      width: 70px;


      .nav {
        overflow: visible;

        .nav-item {
          position: relative;

          .nav-link {
            display: block;
            padding-left: .5rem;
            padding-right: .5rem;
            text-align: center;
            position: static;

            .menu-title {
              display: none;
              border-radius: 0 5px 5px 0px;
            }

            .badge {
              display: none;
            }

            .menu-sub-title {
              display: none;
            }

            i.menu-icon {
              margin-right: 0;
              margin-left: 0;
              margin-bottom: 0;
            }

            .menu-arrow {
              display: none;
            }
          }

          .nav-link[aria-expanded] {
            .menu-title {
              border-radius: 0 5px 0 0px;
            }
          }

          .collapse {
            display: none;
          }
        }

        .nav-item.hover-open {
          .nav-link {
            .menu-title {
              display: -webkit-flex;
              display: flex;
              -webkit-align-items: center;
              align-items: center;
              background: #ffffff;
              padding: 0.5rem 1.4rem;
              left: 70px;
              position: absolute;
              text-align: left;
              top: 0;
              bottom: 0;
              width: 190px;
              z-index: 1;
              line-height: 1.8;
              box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);

              &:after {
                display: none;
              }
            }

            &:hover {
              .menu-title {
                background: #ffffff;
              }
            }
          }

          .collapse {
            display: block;
            padding: .5rem 0;
            background: #ffffff;
            border-radius: 0 0 5px 0;
            position: absolute;
            left: 70px;
            width: 190px;
            box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
          }

          .collapsing {
            display: block;
            padding: .5rem 0;
            background: #ffffff;
            border-radius: 0 0 5px 0;
            position: absolute;
            left: 70px;
            width: 190px;
            box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
          }
        }
      }

      .nav.sub-menu {
        padding: 0 0 0 1.5rem;

        .nav-item {
          .nav-link {
            text-align: left;
            padding-left: 20px;
          }
        }
      }
    }

    .main-panel {
      width: calc(100% - 70px);
    }
  }
  .rtl.sidebar-icon-only {
    .sidebar {
      .nav {
        .nav-item {
          .nav-link {
            .menu-title {
              border-radius: 5px 0 0 5px;
            }
          }

          .nav-link[aria-expanded] {
            .menu-title {
              border-radius: 5px 0 0 0;
            }
          }
        }

        .nav-item.hover-open {
          .nav-link {
            .menu-title {
              left: auto;
              right: 70px;
              text-align: left;
              box-shadow: -4px 0px 7px 0px rgba(182, 185, 189, 0.25);
            }
          }

          .collapse {
            left: auto;
            right: 70px;
            border-radius: 0 0 0 5px;
            box-shadow: -4px 4px 7px 0px rgba(182, 185, 189, 0.25);
          }

          .collapsing {
            left: auto;
            right: 70px;
            border-radius: 0 0 0 5px;
            box-shadow: -4px 4px 7px 0px rgba(182, 185, 189, 0.25);
          }
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .sidebar-offcanvas.active {
    width: 160px;
  }
}


@media (max-width: 400px) {
  .sidebar-offcanvas.active {
    width: 60px;
  }
}


