body[page-id="user-login"] {
  .card{
    width: 25rem;
  }
  .login-container__content{
    .login-container__form{
      .form-item {
        margin: .5rem 0;
        position: relative;
        .material-icons{
          position: absolute;
          font-size: 1.1rem;
          color: $text-muted;
        }
        .input-ico{
          top: 30px;
          left: 5px;
        }
        .material-icons.toggle-password{
          top: 30px;
          right: 5px;
        color: rgb(51, 51, 51);
        }
      }
      label{
        width: 100%;

      }
      .form-item__data{
        width: 100%;
        height: 2.5rem;
        @include form-control-style;
        color: $text-muted;
        padding-left:2rem ;
        outline: none !important;
        @include transition(1s);
        &:hover ,
        &:active ,
        &:focus{
          border-color: $first-color !important;
          @include transition(1s);
        }


        &:focus-visible{
          outline: none;
        }


        &:focus + .material-icons,
        &:hover + .material-icons {
          color: $first-color !important;
          @include transition(1s);
        }





      }

    .form-item__submit{
      padding: .2rem ;
    }

    }
  }

}
