// base template
.css-transitions-only-after-page-load * {
  transition: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: none !important;

}

html {
  font-family: 'Poppins', sans-serif;
  line-height: 1.15;
}

body,
html {
  overflow-x: hidden;
  padding-right: 0 !important;
}

body {
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
}


.page-body-wrapper {

  height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: 60px;
  padding-bottom: 15px;

  .main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 257px);
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: greenyellow !important;

    .content-wrapper {
      padding-bottom: 1rem;
      background: #f3f3f3;
      width: 100%;
      flex-grow: 1;
    }

    @media (max-width: 991px) {

      margin-left: 0;
      width: 100%;

    }

  }

  .stretch-card {
    padding-top: 15px
  }
}


.preload-img {
  transform: translateX(50%);
  opacity: 0;
  transition: all 900ms;
}

.lazy-load {
  transform: translateX(0);
  opacity: 1.0;
  transition: all 100ms;
}

.row {
  padding: 0 .5rem;
}

.parsley-errors-list {
  display: none;

  &.filled {
    display: block;
  }
}

.parsley-errors-list {

  list-style: none !important;
  padding-left: .9rem !important;

  & * {
    color: red !important;
    font-size: .9rem;
    font-weight: 500;
  }

  & .parsley-maxFileSize {

  }

  & .parsley-pattern {

  }

  & .parsley-custom-error-message {

  }

  & .parsley-required {
  }

}


.dashboard-indexer {
  padding: .5rem .1rem;
  border-radius: 4px;
  background-color: #3E348C;

  > * {
    color: white !important;
  }
}


.preload {
  transition: none !important;
  animation: none !important;
}


.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}


.dataTables_scrollBody {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $text-muted;
  }

  &::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px rgba(114, 144, 255, 0.3);
    background-color: #F5F5F5;
  }

}

select:focus-visible,
input:focus-visible {
  box-shadow: none !important;
  outline: none !important;

}