@mixin global-input-text{
  display: block;
  width: 100%;
  height: 2.4rem;
  padding: 15px !important;
  border: 1px solid rgba(0,0,0,.2) !important;
  font-family: $default-font-family;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 4px;
  &:focus{
    border-color: #007bff;
  }
}



@mixin form-control-style{
  background-color: #ffffff !important;
  font-size: 0.875rem !important;
  color:  $text-medium !important;
  border-radius: 1px !important;
  border: 1px solid $text-muted !important;
  &:focus {
    border: 1.5px solid $first-color !important;
    box-shadow: 0 0 3px $first-color !important;
    transition: box-shadow .1s ease-in !important;
  }
}

@mixin custom-input-text($bg-color,$color,$border-color,$focus-border-color,$font-family){
  display: block;
  width: 100%;
  height: 2.4rem;
  padding: 15px !important;
  border: 1px solid $border-color !important;
  font-family: $font-family;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color:$color;
  background-color: $bg-color;
  background-clip: padding-box;
  border-radius: 4px;
  &:focus{
    border-color: $focus-border-color ;
  }
}



@mixin transition($duration) {
  transition: $duration;
}