[page-id="index"] {
  .main-panel {
    width: 100% !important;
    .content-wrapper{
      background-color: white;
    }

  }
  .brand-logo__img {
    height: 60px !important;

  }
  .navbar {
    .navbar-brand-wrapper{
      border-bottom: 0;
    }
    @media (max-width: 991px) {
      .navbar-brand.brand-logo {
        //display: none;
        .brand-logo__img {
          height: 55px;
          margin-left: 1rem;
        }
      }
    }

    .navbar-brand-wrapper {
      border-right: 0;

    }
  }
  .navbar-menu-wrapper{
    border-bottom: 0;
    button{
      border: 1px solid black;
      //border-radius: .1rem;
      //padding: .2rem 1rem;
      //height: 1.9rem;
      font-size: .875rem;
      margin-left: 1rem;
    }
    .btn-login{
      background-color: transparent;
    }
    .btn-help{
      background-color: black;
      color: white;
    }
  }

}
button{
  border: 1px solid black;
  border-radius: 1px;
  padding: .2rem 1rem;
  height: 1.9rem;
  font-size: .875rem;
  margin-left: 1rem;
  outline: none;
}