body[page-id="login"] {
  background-color: white;
  height: 100vh;

  .card{
    width: 25rem;
  }
  .login-container__content {
    .login-container__form {
      .form-item {
        margin: .5rem 0;
        position: relative;
        .material-icons{
          position: absolute;
          top: 8px;
          left: 5px;
          font-size: 1.1rem;
          color: $text-muted;
        }
      }
      $assetPath :"/svg";
      .form-item__data-email{

        //background: url(#{$assetPath}/email.svg);


      }
      .form-item__data-password{
        //background: url(#{$assetPath}/e.svg);
      }
      .form-item__data{
        width: 100%;
        height: 2.5rem;
        @include form-control-style;
        color: $text-muted;
        padding-left:2rem ;
        background-repeat:  no-repeat;
        background-position: 10px center;
        background-size: 15px;
        outline: none !important;
        &:hover ,
        &:active ,
        &:focus{
          border-color: $first-color !important;
        }


        &:focus-visible{
          outline: none;
        }
        &:focus + .material-icons,
        &:hover + .material-icons {
          color: $first-color !important;
        }





      }

      .form-item__submit{
          @include custom-btn;
          background-color: $white;
          border-color:$text-muted;
          &:hover{
            border-color:$first-color;
           @include transition(.4s);
          }
      }
    }

  }

}

