body[page-id="user-signup-email"] {
  background-color: $white;
  height: 100vh;

  .card{
    width: 25rem;
  }
  .signup-container__content {
    .signup-container__form {
      .form-item {
        margin: .5rem 0;
        position: relative;
        .material-icons{
          position: absolute;
          top: 8px;
          left: 5px;
          font-size: 1.1rem;
          color: $text-muted;
        }
      }
      $assetPath :"/svg";
      .form-item__data-email{
        //background: url(#{$assetPath}/email.svg);
      }
      .form-item__data-password{
        //background: url(#{$assetPath}/e.svg);
      }
      .form-item__data{
        width: 100%;
        height: 2.5rem;
        @include form-control-style;
        color: $text-muted;
        padding-left:2rem ;
        outline: none !important;
        @include transition(1s);
        &:hover ,
        &:active ,
        &:focus{
          border-color: $first-color !important;
          @include transition(1s);
        }


        &:focus-visible{
          outline: none;
        }


        &:focus + .material-icons,
        &:hover + .material-icons {
          color: $first-color !important;
          @include transition(1s);
        }





      }

      .form-item__submit{
       height: 2rem;
      }

      .form-item__btn-facebook{
        background:url("/svg/fb.svg") 10px center / 25px no-repeat  #039BE5 !important;
        color: white !important;
        font-weight: 500;


      }
      .form-item__btn-google{
        background:url("/svg/google.svg") 10px center / 25px no-repeat  $white !important;
        color: $black !important;
        font-weight: 500;

      }
    }

  }

}

